<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Android Automation" parallel="false">
    <test name="Test1">
        <classes>
            <class name="mitsko.mobile.automation.android.test.MainPageTest"/>
        </classes>
    </test>
</suite>